<html>

<head>
  <%- include ("../partials/head") %>
</head>

<body>
  <h1>Uh oh!</h1>
  <p>
    Looks like you accidentally took a wrong turn; want to go back
    <a href="/">home</a>?
  </p>
</body>

</html>