<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <h1>Uh oh!</h1>
    <p>
        Looks like you accidentally took a wrong turn;
        <a href="/">>want to go back home</a>?
    </p>
</body>

</html>