<html>

<head>
    <% include ../partials/head %>

</head>
<h1>redirect2</h1>

<p>
    redirect2 is a custom URL shortener.
</p>

<div class="container">
    <div class="container form-box">
        <form action="/new" method="POST">
            <input type="text" name="nick" placeholder="Desired shortcut" />
            <input type="text" name="url" placeholder="URL to shorten" />
            <input type="password" name="password" placeholder="Password" />
            <button class="wide-btn btn" type="submit">Create</button>
    </div>
</div>

</form>

</html>